<li class="dropdown">
    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
            <li><a href="https://glacial-refuge-80306.herokuapp.com/">Abhinay Reddy Kaitha</a></li>
            <li><a href="https://dristiw12.herokuapp.com/">Dristi Marasini</a></li>
            <li><a href="https://bheemireddy-app.herokuapp.com/index">Divyaharshini Bheemireddy</a></li>
            <li><a href="https://vavilala.herokuapp.com/">Harish Reddy Vavilala</a></li>
          </ul>
        </li>
    </ul>
  </li>
  