<!-- /**
 * @author:Dristi Marasini
 */ -->
<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <h1>Products!</h1>
        <br/>
        <h2>Use this area to display information. </h2>
        <br/>
        <hr>
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        <h4>GET a view</h4>
        <ol>
          <li>
            <a href="/product">http://localhost:8081/product</a>
          </li>
          <li>
            <a href="/product/create">http://localhost:8081/product/create</a>
          </li>
  
          <li>
            <a href="/product/edit/1">http://localhost:8081/product/edit/1</a>
          </li>
          <li>
            <a href="/product/edit/2">http://localhost:8081/product/edit/2</a>
          </li>
          <li>
            <a href="/product/edit/3">http://localhost:8081/product/edit/3</a>
          </li>
  
          <li>
            <a href="/product/delete/1">http://localhost:8081/product/delete/1</a>
          </li>
          <li>
            <a href="/product/delete/2">http://localhost:8081/product/delete/2</a>
          </li>
          <li>
            <a href="/product/delete/3">http://localhost:8081/product/delete/3</a>
          </li>
  
          <li>
            <a href="/product/details/1">http://localhost:8081/product/details/1</a>
          </li>
          <li>
            <a href="/product/details/2">http://localhost:8081/product/details/2</a>
          </li>
          <li>
            <a href="/product/details/3">http://localhost:8081/product/details/3</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="/product/findall">http://localhost:8081/product/findall</a>
          </li>
          <li>
            <a href="/product/findone/1">http://localhost:8081/product/findone/1</a>
          </li>
          <li>
            <a href="/product/findone/2">http://localhost:8081/product/findone/2</a>
          </li>
          <li>
            <a href="/product/findone/3">http://localhost:8081/product/findone/3</a>
          </li>
  
        </ol>
        <br/>
        <br/>
        <h1>Customers!</h1>
        <br/>
        <h2>Use this area to display information. </h2>
        <br/>
        <hr>
        <h3>During development, test your api here.</h3>
        <h4>GET a view</h4>
        <ol>
          <li>
            <a href="http://localhost:8081/customer">http://localhost:8081/customer</a>
          </li>
          <li>
            <a href="http://localhost:8081/customer/create">http://localhost:8081/customer/create</a>
          </li>
  
          <li>
            <a href="http://localhost:8081/customer/edit/1">http://localhost:8081/customer/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8081/customer/edit/2">http://localhost:8081/customer/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8081/customer/edit/3">http://localhost:8081/customer/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8081/customer/delete/1">http://localhost:8081/customer/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8081/customer/delete/2">http://localhost:8081/customer/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8081/customer/delete/3">http://localhost:8081/customer/delete/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8081/customer/details/1">http://localhost:8081/customer/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8081/customer/details/2">http://localhost:8081/customer/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8081/customer/details/3">http://localhost:8081/customer/details/3</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="http://localhost:8081/customer/findall">http://localhost:8081/customer/findall</a>
          </li>
          <li>
            <a href="http://localhost:8081/customer/findone/1">http://localhost:8081/customer/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8081/customer/findone/2">http://localhost:8081/customer/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8081/customer/findone/3">http://localhost:8081/customer/findone/3</a>
          </li>
  
        </ol>
  
  
      </div>
    </div>
  </div>

